name: Build EXE
on: 
  push:
    branches: [ main ]
  workflow_dispatch: # This adds a manual "Run" button to the UI

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      - name: Create Project
        run: |
          dotnet new winforms --force
          Remove-Item Form1.cs, Form1.Designer.cs, Program.cs -ErrorAction SilentlyContinue
      - name: Compile
        run: dotnet publish -c Release -r win-x64 --self-contained true /p:PublishSingleFile=true
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: VtuberMod_EXE
          path: "**/publish/*.exe"
